{% extends "base.html" %}

{% block title %}Edytuj zadanie{% endblock %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
    <form action="" method="post">
    <div class="form-control"> 
    Nazwa zadania: <br>
    {{ zadanie_form.nazwa }} <br>
    Opis: <br>
    {{ zadanie_form.opis }} <br>
    Stan: <br>
    {{ zadanie_form.stan }} <br>
    Ważność: <br>
    {{ zadanie_form.waznosc }} <br>
    {% csrf_token %}
    <p class="nav nav-pills"><input class="nav-link active" type="submit" value="Zapisz"></p>
    </div>
    </form>
</div>
{% endblock %}